<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/latestappicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Graduat"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".BookActivity"
            android:exported="false" />
        <activity
            android:name=".PrefActivity"
            android:exported="false" />
        <activity
            android:name=".Otp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivityPage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.graduate.infoPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhonePage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.graduate.PhonePage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstPage"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>